@import "../../Assets/scss/variabel";
.search_field {
    width: auto;
    background: #F9FAFB;

    &:before {
        content: "";
        display: flex;
        height: 16px;
        width: 16px;
        z-index: 2;
        top: 34%;
        left: 5%;
        position: absolute;
        background: url("../../Assets/img/location.svg")repeat no-repeat center center/cover;
    }

    input {
        padding-left: 35px;
    }

    label {
        padding-left: 26px;
        padding-right: 26px;
        background-color: #F9FAFB;
    }
}
.rady_to_btn{
    display: flex;
        justify-content: center;
        gap: 20px;

.book_now_btn {
        background: $primary-color;
        color: #fff;
        font-size: 17px;
        width: 100%;
        max-width: 190px;
    }
}
@media (max-width:768px) {
    .rady_to_btn{
        flex-direction: column;
        align-items: center;
        .book_now_btn{
            background: #e41f24;
            color: #fff;
            font-size: 17px;
            width: 100%;
            max-width: 255px;
            }
        }
}
