.project_slick{
    .slick-list {
        .project_img{
            position: relative;        }
            padding: 20px 0px;
            .project_sl_text{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.822) 3%, rgba(255, 255, 255, 0) 100%);
                width: 100%;
                color: #fff;
                padding-bottom: 10px;
                p{
                    font-weight: 550;
                    padding-left: 10px;
                    &:nth-child(1){
                        font-size: 18px;
                    }
                    &:nth-child(2) {
                        font-size: 12px;
                    }
                }
            }
        }
    .slick-dots {
            text-align: end;
            position: relative;

    .slick-active {
            button {
                color: red;
                font-size: 26px;
                font-weight: 550;
            }

        }
    }



    .slick-dots li button {
            font-size: 20px;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: #CBCBCB;
            border: 0;
            outline: none;
            &:before{
                content: "";
            }
        }
}
.sl_line{

    span{
    width: 70%;
    background: #E41F24;
    height: 5px;
    z-index: 1;
    position: absolute;
    border-radius: 10px;
    }
}

@media (min-width:541px) and (max-width:768px) {
    .section.sc-fnGiBr.jUDMao.project_section{
        padding: 40px 0;
    }
    .project_container{
        .project_box {
            display: block;
                .project_inner_box {
                    max-width: 100%;
                }

            .project_sl_grid {
                max-width: 100%;
            }
            .sl_line {
                width: 40%;
                height: 4px;
                background: #e9e9e9;
                margin-left: 0;
                position: relative;
                top: 10px;
                border-radius: 10px;

                span {
                    width: 30%;
                    background: #E41F24;
                    height: 4px;
                    z-index: 1;
                    position: absolute;
                    border-radius: 10px;
                }
            }
            }
        .how_do_title{
            font-size: 25px;
            line-height: 30px;
        }
        .project_inner_box{
            p{
                font-size: 14px;
                line-height: 20px;
            }
        }

    }


    .how_it_work_row{
        display: block;
        .card_box{
            max-width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 20px;

            &:nth-child(1):after{
                width: 100%;
                top: 185px;
                left: 108px;
                transform: rotate(88deg);
            }
            &:nth-child(2):after{
            width: 100%;
            top: 185px;
            left: 108px;
            transform: rotate(88deg);
            }

        }
    }
}

@media (max-width:540px)
{
.section.sc-fnGiBr.jUDMao.project_section{
    padding: 40px 0;
}
.project_container {
        .project_box {
            display: block;

            .project_inner_box {
                max-width: 100%;
            }
        }

        .how_do_title {
            font-size: 25px;
            line-height: 30px;
        }

        .project_inner_box {
            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .project_sl_grid {
            max-width: 100%;

            .project_slick {
                .slick-list {
                    padding: 0;
                }
            }
            .sl_line{
                width: 50%;
                height: 4px;
                background: #e9e9e9;
                margin-left: 0;
                position: relative;
                top: 10px;
                border-radius: 10px;
                span {
                        width: 70%;
                        background: #E41F24;
                        height: 4px;
                        z-index: 1;
                        position: absolute;
                        border-radius: 10px;
                    }
            }

        }

    }

    .how_it_work_row {
        display: block;

        .card_box {
            max-width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 20px;

            &:nth-child(1):after {
                width: 100%;
                top: 185px;
                left: 108px;
                transform: rotate(88deg);
            }

            &:nth-child(2):after {
                width: 100%;
                top: 185px;
                left: 108px;
                transform: rotate(88deg);
            }

        }
    }

}
@media (max-width:768px) {
    .project_section.jUDMao{
        padding: 40px 0;
    }
}