@import "../../Assets/scss/variabel";

.testimonial_slick{
    .slick-slide.slick-active.slick-center.slick-current {
            background:url("../../Assets/img/testimonial-bg.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s ease;
            opacity: 1;
        }
        .slick-slide.slick-active {
            opacity: 0.5;
        }
                .slick-prev {
                    left: 45%;
                    background: rgb(255, 255, 255);
                    border: 0%;
                    bottom: 0;
                    top: 93%;
                    width: 40px;
                    font-size: 22px;
                    height: 40px;
                    border-radius: 100%;
                    z-index: 1;
                    border: 1px solid red;

                    &:before{
                        background-image: url("../../Assets/img/leftarrow.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        // content: "";
                        border: 1px solid transparent;
                        color: unset;
                            font-family: unset;

                    }
                    // &:after {
                    //     background-image: url(http://localhost:3000/static/media/leftarrow.9ae88c9….svg);
                    //     background-repeat: no-repeat;
                    //     background-position: center;
                    //     border: 1px solid transparent;
                    //     content: "";
                    //     opacity: 0;
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 100%;
                    //     top: 50%;
                    //     left: 50%;
                    //     transform: translate(-50%, -50%);

                    // }
                }
                .slick-next{
                    right: 45%;
                    background: rgb(255, 255, 255);
                    border: 0%;
                    bottom: 0;
                    top: 93%;
                    width: 40px;
                    font-size: 22px;
                    height: 40px;
                    border-radius: 100%;
                    z-index: 1;
                    border: 1px solid red;

                    &:before {
                            background-image: url("../../Assets/img/right.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            // content: "";
                            border: 1px solid transparent;
                            font-family: unset;
                                color: unset;

                        }
                }

        .testm_box{
            padding: 55px 0;
        }
                .slick_img {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;
                }

                .testm_author {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    color: $primary-color;
                    padding-top: 15px;
                }

                .testm_text {
                    line-height: 22px;
                    padding: 0px 30px;
                    font-size: 15px;
                }

}

@media (max-width:768px) {
    section.sc-iveFHk.cAxUXl.testimonial_section{
        padding: 40px 0;
    }
    .testm_container{
        .tetm_heading {
            font-size: 26px;
            line-height: 30px;
            padding: 20px 0;
        }
    }
    .testimonial_slick .slick-slide.slick-active.slick-center.slick-current{
        background-size: contain;


    }
    .testimonial_slick{
        .slick-prev {
                left: 43%;
            }

            .slick-next {
                right: 43%;
            }
            .testm_box {
                padding: 40px 0;
            }
    }

}